<div class="container">
  <div class="row">
    <div class="alert alert-info col-8 mt-5 offset-2 p5 text-center">
      <div class="data">
        <p>
          Employee ID is: <span class="btn btn-info">{{ id }}</span>
        </p>
        <!-- <p>
          Employee First Name is: <span class="btn btn-info">{{ fname }}</span>
        </p>
        <p>
          Employee Last Name is: <span class="btn btn-info">{{ lname }}</span>
        </p>
        <p>
          Employee Age is: <span class="btn btn-info">{{ age }}</span>
        </p> -->
      </div>
    </div>
  </div>
</div>
