.container {
  width: 70%;
  margin: 40px 35px;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 10px 5px 30px 3px #1e7e343d;
}
#title {
  margin-bottom: 30px;
}
#title span {
  color: red;
  font-style: italic;
}
.image {
  margin: 30px 20px;
  width: 650px;
  height: 800px;
}
button {
  width: 125px;
  padding: 14px;
  margin: 25px;
  font-weight: bold;
  border-radius: 8px;
}
#reverse {
  margin-left: 7px;
}
.computed {
  width: 62%;
  padding: 15px;
  border-radius: 8px;
  font-size: 30px;
  background-color: #f8f9fa;
  margin-top: 40px;
  box-shadow: 10px 5px 30px 3px #17a2b82b;
}
.computed-property {
  color: #dc3545;
}
