
#add {
  font-size: 24px;
}
.add-user {
  display: flex;
  flex-direction: column;
}

#add:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.8s;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
